In [1]:
import pandas as pd
import numpy as np
from numpy import linalg as la

In [2]:
df = pd.read_csv("Housing.csv")
df

,price,lotsize,bedrooms,bathrms,stories,driveway,recroom,fullbase,gashw,airco,garagepl,prefarea
0,42000.0,5850,3,1,2,yes,no,yes,no,no,1,no
1,38500.0,4000,2,1,1,yes,no,no,no,no,0,no
2,49500.0,3060,3,1,1,yes,no,no,no,no,0,no
3,60500.0,6650,3,1,2,yes,yes,no,no,no,0,no
4,61000.0,6360,2,1,1,yes,no,no,no,no,0,no
...,...,...,...,...,...,...,...,...,...,...,...,...
541,91500.0,4800,3,2,4,yes,yes,no,no,yes,0,no
542,94000.0,6000,3,2,4,yes,no,no,no,yes,0,no
543,103000.0,6000,3,2,4,yes,yes,no,no,yes,1,no
544,105000.0,6000,3,2,2,yes,yes,no,no,yes,1,no
545,105000.0,6000,3,1,2,yes,no,no,no,yes,1,no

In [3]:
x1=df['lotsize']
#x2=df['lotsize']
y1=df['price']

n=len(x1)
sx1 = np.sum(x1)
sy1 = np.sum(y1)
sx11 = np.sum(x1*x1)

sx1y = np.sum(x1*y1)

A = np.array([[n,sx1],[sx1,sx11]])
B=np.array([sy1,sx1y])

soln = la.solve(A,B)
print("Solution is\nb0= ",soln[0])
print("b1= ",soln[1])

ycap = soln[0]+soln[1]*x1
print("Z = ",np.sum((y1-ycap)**2))

Solution is
b0=  34136.19156491503
b1=  6.598767589265602
Z =  277043862881.1533

In [4]:
dum_house = pd.get_dummies(df)
dum_house

,price,lotsize,bedrooms,bathrms,stories,garagepl,driveway_no,driveway_yes,recroom_no,recroom_yes,fullbase_no,fullbase_yes,gashw_no,gashw_yes,airco_no,airco_yes,prefarea_no,prefarea_yes
0,42000.0,5850,3,1,2,1,False,True,True,False,False,True,True,False,True,False,True,False
1,38500.0,4000,2,1,1,0,False,True,True,False,True,False,True,False,True,False,True,False
2,49500.0,3060,3,1,1,0,False,True,True,False,True,False,True,False,True,False,True,False
3,60500.0,6650,3,1,2,0,False,True,False,True,True,False,True,False,True,False,True,False
4,61000.0,6360,2,1,1,0,False,True,True,False,True,False,True,False,True,False,True,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
541,91500.0,4800,3,2,4,0,False,True,False,True,True,False,True,False,False,True,True,False
542,94000.0,6000,3,2,4,0,False,True,True,False,True,False,True,False,False,True,True,False
543,103000.0,6000,3,2,4,1,False,True,False,True,True,False,True,False,False,True,True,False
544,105000.0,6000,3,2,2,1,False,True,False,True,True,False,True,False,False,True,True,False
545,105000.0,6000,3,1,2,1,False,True,True,False,True,False,True,False,False,True,True,False

In [5]:
x1=df['lotsize']
y= df['price']
x2=dum_house['driveway_no']

n=len(x1)
sx1 = np.sum(x1)
sx2 = np.sum(x2)
sy = np.sum(y)
sx11 = np.sum(x1*x1)
sx12 = np.sum(x1*x2)
sx22 = np.sum(x2*x2)
sx1y = np.sum(x1*y)
sx2y = np.sum(x2*y)
A = np.array([[n,sx1,sx2],[sx1,sx11,sx12],[sx2,sx12,sx22]])
B=np.array([sy,sx1y,sx2y])

soln = la.solve(A,B)
print("Solution is\nb0= ",soln[0])
print("b1= ",soln[1])
print("b2= ",soln[2])

ycap = soln[0]+soln[1]*x1+soln[2]*x2
print("Z = ",np.sum((y-ycap)**2))

Solution is
b0=  38662.510510776905
b1=  6.0460810924011
b2=  -11911.569407340741
Z =  268442005045.18878

In [16]:
x1=dum_house['lotsize']
y= dum_house['price']
x2=dum_house['driveway_yes']
x3 =dum_house['bedrooms']

n=len(x1)
sx1 = np.sum(x1)
sx2 = np.sum(x2)
sx3=np.sum(x3)
sy = np.sum(y)
sx11 = np.sum(x1*x1)
sx12 = np.sum(x1*x2)
sx13= np.sum(x1*x3)
sx22 = np.sum(x2*x2)
sx33 = np.sum(x3*x3)
sx23 = np.sum(x2*x3)
sx3y = np.sum(x3*y)
sx1y = np.sum(x1*y)
sx2y = np.sum(x2*y)
A = np.array([[n,sx1,sx2,sx3],[sx1,sx11,sx12,sx13],[sx2,sx12,sx22,sx23],[sx3,sx13,sx23,sx33]])
B=np.array([sy,sx1y,sx2y,sx3y])

soln = la.solve(A,B)
print("Solution is\nb0= ",soln[0])
print("b1= ",soln[1])
print("b2= ",soln[2])
print("b3= ",soln[3])

ycap = soln[0]+soln[1]*x1+soln[2]*x2+soln[3]*x3
print("Z = ",np.sum((y-ycap)**2))

Solution is
b0=  -3617.4497798974858
b1=  5.416368585952383
b2=  13320.810694912383
b3=  10927.107574815103
Z =  233994951113.40482

## sklearn

In [15]:
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error

x=dum_house[['lotsize','driveway_yes','bedrooms']]
y= dum_house['price']

lr = LinearRegression()
lr.fit(x,y)
print("Intercept = ",lr.intercept_)
print("Coefficient  =",lr.coef_)

ycap = lr.predict(x)
print("Z = ", np.mean((y-ycap)**2))
print(mean_squared_error(y,ycap))

Intercept =  -3617.449779897448
Coefficient  = [5.41636859e+00 1.33208107e+04 1.09271076e+04]
Z =  428562181.5263825
428562181.5263825

In [17]:
dum_house = pd.get_dummies(df,drop_first = True)
x = dum_house.drop('price',axis=1)
y = dum_house['price']

lr = LinearRegression()
lr.fit(x,y)
print("Intercept = ",lr.intercept_)
print("Coefficient  =",lr.coef_)

ycap = lr.predict(x)
print("Z = ", np.mean((y-ycap)**2))       
print(mean_squared_error(y,ycap))

Intercept =  -4038.350425098368
Coefficient  = [3.54630297e+00 1.83200347e+03 1.43355585e+04 6.55694571e+03
 4.24482900e+03 6.68777889e+03 4.51128383e+03 5.45238554e+03
 1.28314063e+04 1.26328904e+04 9.36951324e+03]
Z =  232646651.3634945
232646651.3634945